@media screen and (max-width:576px){

    .header{
        background-image: none;
    }

    nav{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    nav > ul{
        flex-direction: column;
        gap: 10px;
    }

    nav li{
        margin-right: 0;
    }
    .banner{
        padding: 10px 10px 0px 10px;
        flex-direction: column;
    }

    .banner-content{
        padding: 50px;
    }

    .banner-text{
        width: 90%;
    }

    .profile-pic{
        width: 100%;
    }
    
    
    
    .about{
        padding: 10px;
    }

    .about-content{
        width: 90%;
    }

    .about-info{
        flex-direction: column;
    }

    .info{
        margin-bottom: 20px;
    }

    .what-i-do > p{
        width: 90%;
    }

    .what-i-do-skill{
        flex-direction: column;
    }

    .resume-container{
        flex-direction: column;
    }

    .resume-content{
        width: 100%;
    }

    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .footer-contact input[type="text"], input[type="email"]{
        width: 80%;
    }
}